<!DOCTYPE html>
<html>
    <head>
        <title>Stock Backtester</title>
        
        <link rel="stylesheet" href="../static/style.css/">
    </head>
    <body>
      <header id="main-header">
        <div class="container">
          <h1>Backtest Portfolio Asset Allocation</h1>
        </div>
      </header>

      <nav id="navbar">
        <div class="container">
          <ul>
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="faq">FAQ</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </nav>


     

         

         

    </body>
   
</html>
